@import "../_variables";

.certificate {
  display: flex;
}

.certificate__logo {
  width: 30px;
  height: 30px;
}

.certificate__details {
  margin-left: 15px;
}

.certificate__name {
  color: #263238;
  font-size: 1rem;
  font-weight: 400;
}

.certificate__provider {
  @include standardText(0.875rem);
  font-weight: 300;
  color: $dark100;
}
