@import "../_variables";

.header {
  display: flex;
  align-items: center;
  min-height: 150px;
  padding: 15px 20px;
  background: $primary;
  position: relative;
  z-index: 2;
}

.header__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid $light;
}

.header__info {
  margin-left: 30px;
}

.header__contacts {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__contacts-row a,
.header__contacts-row,{
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  @include lightText;
  text-decoration: none;
  font-size: 14px;
}

.header__contacts-row i {
  margin-right: 8px;
}

.header__name {
  margin-bottom: 5px;
  color: $light;
  font-size: 1.75em;
}

.header__position {
  @include lightText;
  font-weight: 600;
}

