@import "../_variables";

.hobbies {
  display: flex;
}

.hobby {
  width: 25%;
  text-align: center;
}

.hobby svg {
  width: 24px;
  height: 24px;
  //@include standardText(20px, 400, $dark100);
}

.hobby__name {
  @include standardText(12px);
}
